# Ignore node_modules directory
node_modules/

# Optional npm cache directory
.npm

# Optional Yarn cache directory
.yarn
.pnp.*
.yarn-cache/

# Log files
*.log

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
